body{
  background-color: rgb(24, 24, 24);
}
div{
  color: white;
}
.button_div{
  margin: 25px;
  width: 100%;
}

.navbar, hr{
  margin-left: 16px;
  display: flex;
  justify-content: space-between;  
}
.nav_title{
  width: 200px;

}
.nav_a{
  margin-top: 60px;
  margin-right: 10px;
}
.a_login{
  color: white;
  text-decoration: none;
}

.cpu_box, .ram_box, .disk_box{
  width: 500px;
}
.cpu_info, .ram_info, .disk_info{
  margin: 25px;
  justify-content: center;
  display: grid;
  border: 2px solid white;
  
}
button{
  height: 28px;
  width: 175px;
  border: none;
  transition: background-color 0.5s ease, color 0.4s ease;
}
button:hover{
  background-color: rgb(16, 16, 16);
  color: white;
  border: 2px solid white;
}

hr{
  color: white;
}
.file, .dir{
  margin-right: 10px;
  height: 22px;
}
.file_div, .dir_div{
  display: flex;
}
a{
  text-decoration: underline;
  color: white;
}
ul{
  margin-left: 25px;
  border: 2px solid white;
  width: 403px;

}

li{
  list-style: decimal;
  margin: 20px;
}
input:focus{
  outline: none;
}

.update_b, .delete_b{
  width: 257px;
  height: 35px;
  margin-top: 7px;
  transition: background-color 0.5s ease;
  border: none;
  margin-left: 16px;
}
.update_b:hover{
  background-color: rgb(20, 110, 255);
  color: white;
}
.delete_b:hover{
  background-color: rgb(255, 0, 55);
  color: white;
}
.input_mod{
  margin-left: 16px;
}
.p_m{
  margin-left: 30px;
}

